<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name="com.naturalsound.NaturalSoundApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NaturalSound"
        tools:targetApi="31">

        <!-- AdMob App ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6710003016622154~9905497520" />

        <!--
            Manifest merger conflict fix:
            play-services-measurement-api  → @xml/ga_ad_services_config
            play-services-ads-lite         → @xml/gma_ad_services_config
            tools:replace tells the merger to use AdMob's value and drop the conflict.
        -->
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/gma_ad_services_config"
            tools:replace="android:resource" />


        <activity
            android:name="com.naturalsound.ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.NaturalSound">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.naturalsound.service.SoundPlayerService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false" />

        <receiver
            android:name="com.naturalsound.ui.timer.AlarmReceiver"
            android:exported="false" />

    </application>

</manifest>
